:root
{
  padding: 0%;
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.body{
  background-color: rgb(181, 191, 191);
  flex: none;
  width: fit-content;
}
.button {
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
 /* box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);*/
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
}
.button:hover {
  background: white;
  cursor: pointer;
  color: var(--orange);
}


/* *******Navbar****** */
.n-wrapper {
 background-color: rgb(40, 38, 38);
 /*  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
  */
  position:sticky;
  z-index: 2;
  border-radius: 10px;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content:space-evenly;
  top: 0;
}
.n-left {
  padding-left: 1rem;
  flex: 1;
  align-items: center;
  justify-content: left;
  display: flex;
}
.dropdown-content {
  display: none;
  font-size: 1.2rem;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}
.dropdown a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
}

.n-name > button{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--orange);
  font-weight: 400;
  text-decoration: double;
  cursor: pointer;
}
.n-right {
  flex: 1;
  display: flex;
  font-size: 1.2rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: flex-end;
  font-weight: 380;
}
.n-list {
  padding-left: 2rem;
  flex: 3;
  width: 5rem;
  font-size: 1.3rem;
  font-weight: 450;
}
.n-list > ul {
  display: flex;
}
.n-list > ul :hover {
  color: var(--orange);
  cursor: pointer;
}
.n-button {
  flex: 2;
}
.n-button2{
  flex: 2;
  margin-left:1rem ;
}
